header{
    background: dodgerblue;
    color: white;
}
.color2{
    background: mediumpurple;
    color: white;
}
.color1{
    background: coral;
    color: white;
}
footer{
    background: dodgerblue;
    color: white;
}